.u-margin-left-10 {
    margin-left: 10rem;
}

.u-margin-top-5 {
    margin-top: 5rem;
}

.u-margin-top-10 {
    margin-top: 10rem;
}

.u-margin-bottom-2 {
    margin-bottom: 2rem;
}

.u-margin-bottom-1 {
    margin-bottom: 1rem;
}

.u-center {
    text-align: center;
}

.u-one-div-center {
    display: flex;
    flex: row;
    justify-content: center;
}

.u-some-div-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.relative {
    position: relative;
}