footer {
    padding-top: 3vh;
    text-align: center;
    color: whitesmoke;
    height: 10vh;
    background-color: #000;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.6rem;
}