.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col-1-of-2 {
    width: 50%;
} 

.wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}